
/* Grid */

.container{
    display:flex;
}

.row{
    display: flex;
}

.col-1-3{
    float: none !important;
}



/* Section Latest news ============================= */

.section-Latest-news .row {
         flex-direction: row-reverse;
} 


/*** 4. CARD ***/


