
/* Grid */

container{
    display:flex;
}

row{
    display: flex;
}



/* Section Latest news ============================= */

.section-Latest-news .row {
    flex-direction: row-reverse;
} 


/*** 4. CARD ***/


