
/* Grid */

.container{
    display:flex;
}

.row{
    display: flex;
}

*.col-{
    float: none;
}



/* Section Latest news ============================= */

.section-Latest-news .row {
    flex-direction: row-reverse;
} 


/* Section SERVICES ============================= */

.section-service .row{
    flex-wrap: wrap;
}


/*** 4. CARD ***/


