/* My css_advanced project */





.header{
    /*background-color: blue;*/
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

    
}

a{
    color: white;
    padding-right: 10px;
    align-items: center;
    text-decoration: none;
    padding-top: 10px;
}

.section{
    align-content: center;
    color: white;
    list-style: none; 
    margin-top: 100px;
    justify-items: center;
}   

.smiles{
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding-top: 50px;
    justify-content: center;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 0;
    margin-top: 0;
}



body{
    background-image: url("images/Object.png");
    background-repeat: no-repeat;
    margin-bottom: 0;   
    padding-top: 0;
}

.hero{
    text-align: center;
    margin-top: 5px;
    gap: 20px;
}


button{
    background-color: rgb(218, 67, 218);
    color: white;
    border-radius: 50px;
    height: 30px;
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    border-color: transparent;
    align-content: center;
    margin-left: 570px;

}



#first-section h1{
    font-size: 100px;
    justify-self: center;
    text-align: center;
    margin-bottom: 0;
}

#quote-section{
    display: flex;
    flex-direction: row;
    background-color: rgb(218, 67, 218);
    color: white;
    align-items: center;
    /*justify-content: center;*/
    margin: 0;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    padding-left: 200px;
    padding-right: 50px;
    margin-left: 0%;
}


.section h6 a{
    color: rgb(218, 67, 218);

}

.section h6{
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 200px;
}

.testimonial-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 50px;
}

.testimonial-section{
    margin-left: 50px;
    margin-right: 50px;
}

.testimonial-section h2{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center
}

.testimonial-section h2 a{
    color: rgb(218, 67, 218);
}

#img-one{
    background-image: url("images/9.png");
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    align-items: center;
    justify-content: center;
}

#img-two{
    background-image: url("images/7.png");
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    justify-items: center;
}

#img-three{
    background-image: url("images/8.png");
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
}

#img-four{
    background-image: url("images/6.png");
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
}

.rater{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: rgb(218, 67, 218);
}

.rating{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
    color: rgb(218, 67, 218);

}

.min{
    color: rgb(218, 67, 218);
}

.vedio-list p{
    color: grey;
    margin-top: 0;
    margin-bottom: 0;
}

/* Membership section ==========================================*/
.membership-section{
    background-color: black;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
}

#m-ship-header{
    text-align: center;
    color: rgb(190, 188, 188);
    margin-top: 0px;
    padding-top: 50px;
    padding-bottom: 20px;
}

#m-ship-header a{
    color: rgb(218, 67, 218);
}

.membership-container{
    display: flex;
    flex-direction: row;
    color: white;
    
    padding-right: 100px;
    padding-left: 100px;

}

#m-button{
    margin-bottom: 50px;
}

.m-smile{
    justify-content: center;
    align-content: center;
    
}

.m-smile p{
    color: rgb(190, 188, 188);
}

/* F.A.Q SECTION ========================================*/

.faq-section{
    font-family: source san pro;
    
}


#faq-header{
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
}

.faq-container-l{
    display: flex;
    flex-direction: row;
    padding-right: 200px;
    padding-left: 200px;
    gap: 100px;
    font-weight: lighter;
    font-size: 15px;
}

.faq-container-ll{
    display: flex;
    flex-direction: row;
    padding-right: 200px;
    padding-left: 200px;
    gap: 100px;
    font-weight: lighter;
    font-size: 15px;
    
}

.faq-p{
    color: gray;
    padding-right: 200px;
    padding-left: 200pxS;
}