body, main{
    display: flex;
}

body{
    flex-direction: column;
}

main{
    flex-direction: row;
    flex: auto;
    background-color: blueviolet;
    color: aquamarine;
}

article{
    flex: 2;
    overflow-y: auto;
}

aside{
    flex: 1;
    overflow-y: auto;
    background-color: blue;
    color: beige;
}
table{
    border-collapse: collapse;
    max-width: 20px;
}

th, td{
    border: 1px solid black;
    padding: 4px;
    text-align: left;
}

header{
    background-color: deeppink;
    color: navy;
}